.input {
  display: block;
  width: 100%;
  border-radius: calc(var(--border-radius) * .333333);
  border: .1rem solid var(--color-gray);
  padding: 1.2rem;
  
  box-sizing: border-box;

  background-color: transparent;

  color: var(--color-lighthgray);
  font-size: inherit;
}