@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('~@/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('~@/assets/fonts/Inter-Medium.woff2') format('woff2'),
      url('~@/assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import './variables.scss';
@import './vue-transitions.scss';

html {
  font-family: Inter, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  margin: 0;

  font-size: 1.4rem;
  color: var(--color-lightgray);

  overflow-x: hidden;
}

@import './blocks/page.scss';
@import './blocks/img.scss';
@import './blocks/btn.scss';
@import './blocks/input.scss';